<link rel="stylesheet" href="../aw/css/login.css">
<h2>Login Form</h2>
<div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <input type="checkbox" checked="checked"> Remember me
    <button type="submit">Login</button>
</div>

<div class="container" style="background-color:#f1f1f1">
    <span class="psw">Do not have account?<a href="#!sign-up">sign up</a></span>
</div>
