<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h1 style="color: red;margin-left: 600px;" class="box-title">Products</h1>
            </div>
            <br>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Product</th>
                        <th>category</th>
                        <th>Image</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" ng-model="name" class="form-control">
                        </td>
                        <td>
                            <select class="form-control" ng-model="product_cat"
                                    ng-options="cat.name for cat in categories">
                            </select>
                        </td>
                        <td>
                            <input id="avatar" type="file" name="avatar" />
                        </td>
                        <td>
                            <button class="btn btn-primary" id="add" ng-click="addProduct()">Add</button>
                        </td>
                    </tr>
                    <tr ng-repeat="product in products">
                        <td>
                            <input type="text" ng-model="productrr" class="form-control"
                                   ng-if="enableEditing == product.id">
                            <h4 ng-if="enableEditing != product.id">{{product.name}}</h4>
                        </td>
                        <td>
                            <input type="text" ng-model="product.image" class="form-control"
                                   ng-if="enableEditing == product.id">
                            <h4 ng-if="enableEditing != product.id">{{product.categories.name}}</h4>
                        </td>
                        <td>
                            <input type="text" ng-model="product.image" class="form-control"
                                   ng-if="enableEditing == product.id">
                            <h4 ng-if="enableEditing != product.id">{{product.image}}</h4>
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-if="enableEditing != product.id"
                                    ng-click="deleteProduct(product.id)">Delete
                            </button>
                            <button class="btn btn-info" ng-if="enableEditing != product.id"
                                    ng-click="editProduct(product.id)">Edit
                            </button>
                            <button class="btn btn-info" ng-if="enableEditing == product.id"
                                    ng-click="updateProduct(product.id)">Update
                            </button>
                            <button class="btn btn-info" ng-if="enableEditing == product.id" ng-click="cancelEditing()">
                                Cancel
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>